## Rust compiler versions

This release was built and tested against the following versions of `rustc`.
Other versions may work.

- Rust Stable: `{{ env.RUSTC_STABLE }}`
- Rust Nightly: `{{ env.RUSTC_NIGHTLY }}`
