{% import "change.md.tera" as m_c -%}
### Client

{#- The changes are sorted by merge date #}
{%- for pr in changes | sort(attribute="merged_at") %}

{%- if pr.meta.B %}
    {%- if pr.meta.B.value == 0 %}
    {#- We skip silent ones -#}
    {%- else -%}

        {%- if pr.meta.B.value == 5 and not pr.title is containing("ompanion") %}
- {{ m_c::change(c=pr) }}
        {%- endif -%}
    {% endif -%}
    {% endif -%}
{% endfor %}
